<section class="hero is-primary is-fullheight has-background">
  <img src="./img/thegolfhanger.png" alt="" class="hero-background ">
  <div class="hero-body">
    <div class="container">
      <p class="title has-text-centered">
        ❛ A work of art. The choice gift for family and friends who love golf. ❜
      </p>
      <p class="subtitle has-text-centered">
        Urbane Innovations
      </p>
      <button class="button is-pumpkin-transparent">foobar</button>
    </div>
  </div>
</section>
